@model NotesAPI_SharedModels.NoteModelUpdate

<h2>Modifier une Note</h2>

<form asp-action="UpdateNote" method="post">
    <input type="hidden" name="Id" value="@ViewBag.NoteId" />
    <input type="hidden" name="PatientId" value="@ViewBag.PatientId" />

    <div>
        <textarea asp-for="Content" required class="new-note-content" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a asp-controller="Patients" asp-action="Details" asp-route-Id="@ViewBag.PatientId" class="btn btn-secondary">Annuler</a>
</form>
