@model PatientsAPI_SharedModels.PatientModelUpdate

<h2>Modifier un Patient</h2>

<form asp-action="Update" method="post">
    <input type="hidden" name="Id" value="@ViewBag.PatientId" />
    <table class="patient-update">
        <tr>
            <td><label>Prénom</label></td>
            <td><input asp-for="FirstName" required /></td>
        </tr>
        <tr>
            <td><label>Nom</label></td>
            <td><input asp-for="LastName" required /></td>
        </tr>
        <tr>
			<td><label>Date de naissance</label></td>
			<td><input asp-for="DateOfBirth" type="date" required /></td>
        </tr>
        <tr>
            <td><label>Genre</label></td>
			<td>
				<select asp-for="GenderId">
					@foreach (var gender in ViewBag.Genders)
					{
						<option value="@gender.Id">@gender.GenderName</option>
					}
				</select>
			</td>
        </tr>
        <tr>
			<td><label>Adresse</label></td>
			<td><input asp-for="Address" /></td>
        </tr>
        <tr>
			<td><label>Téléphone</label></td>
			<td><input asp-for="PhoneNumber" /></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><button type="submit" class="btn btn-success">Enregistrer</button></td>
            <td><a asp-controller="Patients" asp-action="Index" class="btn btn-secondary">Annuler</a></td>
        </tr>
    </table>
</form>