html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.patients-list tr th {
    border-style: solid;
    border-width: thin;
    padding: 2px;
    text-align: center;
}

.patients-list tr td {
    border-style: solid;
    border-width: thin;
    padding: 2px;
}

.patient-detail {
    width: 500px;
    padding: 5px;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 15px;
}

.patient-diabete-report {
    width: 500px;
    padding: 5px;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 15px;
}

.patient-notes {
    width: 500px;
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 15px;
}

.patient-notes-add {
    width: 500px;
    max-height: 230px;
    padding: 5px;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 15px;
}

.new-note-content {
    width: 480px;
}