@page
@model Frontend.Pages.IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<h2>Bienvenue sur MediLabo</h2>

<p>
    <a asp-page="/Account/Login">Se connecter</a> |
    <a asp-page="/Patients/Index">Voir la liste des patients</a>
</p>
